source/*
test-ADSPhong/Debug/*
test-ADSPhong/test-ADSPhong/Debug/*
test-Cubemap/Debug/*
test-Cubemap/test-Cubemap/Debug/*
test-fbotextures/Debug/*
test-fbotextures/test-fbotextures/Debug/*
test-flatshader/Debug/*
test-flatshader/test-flatshader/Debug/*
test-hdrimaging/Debug/*
test-hdrimaging/test-hdrimaging/Debug/*
test-light/Debug/*
test-light/test-light/Debug/*
test-oit/Debug/*
test-oit/test-oit/Debug/*
test-pix_buffs/Debug/*
test-pix_buffs/test-pix_buffs/Debug/*
test-pyramid/Debug/*
test-pyramid/test-pyramid/Debug/*
test-SphereWorld/Debug/*
test-SphereWorld/test-SphereWorld/Debug/*
test-viewmodel/Debug/*
test-viewmodel/test-viewmodel/Debug/*
